@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.grid-container {
    background-color: white;
    font-family: 'Nanum Gothic';
    font-weight: bold;
	word-break: keep-all;
    display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 120px 120px 120px 30px;
}

.menu-button {
	border-radius: 10%;
	box-shadow: 3px 3px 3px #D2D2D2;
	margin: 5px;
    text-align: center;
    border: 2px solid #ffffffff;
}
.menu-button:hover {
	border: 2px solid #1d2475;
}
.menu-button > a {
	color: black;
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}
.menu-button > a > img {
	height: 50px;
	margin-top: 10px;
	width: 50px;
}
.menu-button > a > p {
    font-family: 'Nanum Gothic';
	font-size: 12px;
	margin: 5px;
}

.footer {
	color: gray;
    font-family: 'Nanum Gothic';
	font-size: 10px;
	font-weight: 100;
	grid-column: span 3;
	padding: 1px;
	text-align: center;
}
.footer > div > a {
	color: gray;
	text-decoration: none;
}